/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bgc);
}

form {
  box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: skyblue;
  padding: 12px;
  width: min(100%, 400px);
  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    input {
      border: 1px solid black;
      border-radius: 2px;
      height: 30px;
      padding: 4px;
    }
  }

  input[type="submit"]{
    /* all: unset; */
    width: 100%;
    margin-top: .6rem;
    padding: .6rem;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    background-color: #d10c0c;
  }
}

